<a href="https://colab.research.google.com/github/azamnaqib/Tipe_Variabel/blob/main/Salinan_dari_Tipe_Variabel_M_Azam_Naqib_X_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Muhammad Azam Naqib

Kelas : X-2

No. Absen : 20

#Konsep Dasar Variabel

In [ ]:
print("azamnaqib.2025@gmail.com")
print("azamnaqib.2025@gmail.com")
print("azamnaqib.2025@gmail.com")

azamnaqib.2025@gmail.com
azamnaqib.2025@gmail.com
azamnaqib.2025@gmail.com

In [ ]:
email_user = "azamnaqib.2025@gmail.com"
print(email_user)
print(email_user)
print(email_user)

azamnaqib.2025@gmail.com
azamnaqib.2025@gmail.com
azamnaqib.2025@gmail.com

#Peraturan Penulisan Variabel

In [ ]:
#Hanya boleh menggunakan huruf, angka, dan underscore
harga telur = 15000
print(harga telur)

SyntaxError: invalid syntax (ipython-input-1085076468.py, line 2)

In [ ]:
hargatelur = 15000
print(hargatelur)

15000

In [ ]:
#Tidak boleh diawali oleh angka
1_nama_siswa = "Ahmad dani"

print(1_nama_siswa)

SyntaxError: invalid decimal literal (ipython-input-443643919.py, line 2)

In [ ]:
#Tidak boleh menggunakan kata kunci pyhton
if = "Handayani"
print(if)

SyntaxError: invalid syntax (ipython-input-3644281030.py, line 2)

In [ ]:
If = "Handayani"
print(If)

Handayani

In [ ]:
print = "Noor"
print(print)

In [ ]:
Print = "Noor"
print(Print)

Noor

In [ ]:
#Sensitif terhadap penulisan kapital

USIA = 17
print(Usia)

NameError: name 'Usia' is not defined

In [ ]:
print(USIA)

17

In [ ]:
_ = "Fazel Wardana"

In [ ]:
_ = "Lia Wati"

In [ ]:
print(_)

Fazel Wardana

#Assignment

In [ ]:
#Single Assignment
bb_fazel = 55
bb_dani = 60

print(bb_dani)
print(bb_fazel)

60
55

In [ ]:
bb_fazel, bb_dani = 50, 60, 70

print(bb_fazel)
print(bb_dani)

In [ ]:
#Multiple Assignment
bb_fazel, bb_dani = 55, 60

print(bb_dani)
print(bb_fazel)

60
55

In [ ]:

#jumlah variabel dengan nilai variabel harus sama banyak
bb_fazel, bb_dani = 55, 60, 70

print(bb_dani)
print(bb_fazel)

ValueError: too many values to unpack (expected 2)

In [ ]:

#Chain Assignment
bb_fazel = bb_dani = 50

print(bb_fazel)
print(bb_dani)

50
50

#Soal Coding Assignment

In [ ]:
nama = "Andi"
print(nama)

Andi

In [ ]:
nama, umur, kelas = "Budi", 15, " 9A"
print(nama, umur, kelas)

Budi 15  9A

In [ ]:
berat_andi = berat_siti = berat_eko = 45.5
print(berat_andi, berat_siti, berat_eko)

45.5 45.5 45.5

In [ ]:
#Jumlah botol per kardus 24, Jumlah Kardus 3
print(24*3)

72

In [ ]:
total_jumlah_botol = 24*3
print(total_jumlah_botol)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3
print(banyak_botol_per_kardus * jumlah_kardus)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3
total_jumlah_botol = banyak_botol_per_kardus * jumlah_kardus
print(total_jumlah_botol)

72

#Operator logika

In [ ]:
print(6>=6)
print(8==9)
print(8!=9)
print(8<10)
print(8>10)

True
False
True
True
False

In [ ]:
print(not(5<=5))
print(8>7 and 6<5)
print(7<=1 or 2!=2)
print(not(0==1 and 1!=1))
print(not(5<10 or 5<=10))

False
False
False
True
False